.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    /* max-width: 180px; */
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
   
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    color: #ffffff;
    padding: 7px 0;
    padding-right: 110px;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    
   border-color: #cccccc;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #cccccc;
    font-weight: 500;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  /* contact .sendButton */
  /* From uiverse.io by @adamgiebl */
  .sendButton {
    font-family: inherit;
    font-size: 17px;
    border: 2px solid;
    background: black;
    color: white;
    padding: 0.5em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
   
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
 .sendButton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 .sendButton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 .sendButton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 .sendButton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 .sendButton:hover span {
  transform: translateX(5em);
 }
 
 .sendButton:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }
 
 